<tr class="nested-fields">
	<td> 
	  <%= link_to_remove_association "Delete", f, class: 'btn btn-primary btn-xs' %>
	</td>
	<td><%= f.input :name, label: false %></td>
	<td><%= f.input :completed, label: false %></td>
	<td><%= f.input :due, label: false, as: :string %></td>
</tr>